@import url("https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Poppins:wght@100;300;400&display=swap");
@keyframes bounce {
  from {
    transform: translateY(10px);
  }
  to {
    transform: translateY(5px);
  }
}
@keyframes blink {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
body, html {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background: #1e1f1e;
  scroll-behavior: smooth;
}

.hideMobile {
  display: none !important;
}

.showMobile {
  display: inherit !important;
}

.btn {
  background: #f2f2f2;
  text-align: center;
  padding: 0 20px;
  width: 100%;
  line-height: 60px;
  margin: 0 auto;
  color: black;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 10px;
  border: none;
  transition: all 0.3s ease-in-out;
  white-space: nowrap;
}
.btn:hover {
  cursor: pointer;
  background: white;
  color: black;
  letter-spacing: 2.5px;
  transition: all 0.3s ease-in-out;
}

p {
  font-size: 1.4rem;
  font-weight: 300;
}

h3,
.keyTitle {
  margin: 0;
  font-size: 2rem;
}
h3 .key,
.keyTitle .key {
  display: inline-block;
  width: 85px;
  height: 80px;
  border: 3px solid black;
  border-radius: 6px;
  box-sizing: border-box;
  display: inline-flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 0 10px 5px 0;
  margin-right: 5px;
  background: white;
  font-weight: bold;
}
h3.dark span,
.keyTitle.dark span {
  background: #1e1f1e;
  border-color: white;
  color: white;
}

#logo {
  position: relative;
  z-index: 99;
  width: 150px;
  fill: white;
  box-sizing: border-box;
}
#logo #fill {
  fill: #1e1f1e;
}

#video {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.container {
  position: relative;
  transform: scale(1);
  transition: all 0.5s ease-in-out;
}
.container.out {
  transform: scale(0.98);
  transition: all 0.5s ease-in-out;
}

@media (min-width: 768px) {
  .hideMobile {
    display: inline-block !important;
  }
  .scroll {
    bottom: 80px;
  }
  .btn {
    width: 300px;
  }
  #home #intro blockquote {
    font-size: 1.6rem;
  }
}
#home {
  position: relative;
  background: #1e1f1e;
}
#home #intro {
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column-reverse;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
  z-index: 3;
  padding: 20px;
  box-sizing: border-box;
  color: white;
}
#home #intro .left,
#home #intro .right {
  flex: 0 0 50%;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#home #intro .left {
  box-sizing: border-box;
}
#home #intro .left #logo {
  display: none;
}
#home #intro .left h1 {
  font-size: 3rem;
  line-height: 5.4rem;
  margin: 40px 0 0;
  align-self: flex-start;
}
#home #intro .left p {
  color: #b3b3b3;
  font-size: 1.2rem;
  margin: 0;
  padding: 0 0 40px;
  letter-spacing: 0.5px;
  font-weight: lighter;
}
#home #intro .left p a {
  text-decoration: none;
  font-weight: bold;
  font-family: "helvetica", sans-serif;
  color: #333333;
}
#home #intro .left .btn {
  align-self: flex-start;
  margin: 0;
}
#home #intro .right {
  box-sizing: border-box;
  border-radius: 10px;
}
#home #intro .right #logo {
  display: block;
  margin-bottom: 40px;
}
#home #intro .right a {
  font-size: 1.6rem;
  font-weight: lighter;
  color: white;
  text-decoration: none;
  margin-bottom: 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  letter-spacing: 0.5px;
}
#home #intro .right a:last-child {
  margin: 0;
}
#home #intro .right a:hover {
  color: white;
}
#home #intro .right a:hover .key {
  background: #222;
}
#home #intro .scroll {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 2;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: darkgrey;
  font-size: 0.8rem;
}
#home #intro .scroll .arrow {
  animation: bounce 1s infinite alternate;
}
#home #intro .scroll .arrow:before {
  content: "";
  display: block;
  width: 8px;
  height: 1px;
  background: grey;
  bottom: -5px;
  left: 50%;
  position: fixed;
  transform: translateX(-3px) rotate(-45deg);
  transform-origin: right;
}
#home #intro .scroll .arrow:after {
  content: "";
  display: block;
  width: 8px;
  height: 1px;
  background: grey;
  bottom: -5px;
  left: 50%;
  position: fixed;
  transform: translateY(5px) rotate(-135deg);
  transform-origin: left;
}
#home #intro .scroll:hover {
  cursor: pointer;
}

@media (min-width: 768px) {
  #home #intro {
    padding: 40px;
  }
  #home #intro .scroll {
    display: flex;
  }
  #home #intro .left {
    padding: 40px 40px 40px 0;
  }
  #home #intro .left h1 {
    font-size: 4.4rem;
    margin: 0 0 20px;
    white-space: nowrap;
  }
  #home #intro .left p {
    font-size: 1.4rem;
  }
  #home #intro .left .btn {
    margin: 10px 0 0;
  }
  #home #intro .right {
    flex: 1 1 50%;
    margin: 0;
    border: none;
    background: none;
  }
  #home #intro .right a {
    font-size: 1.6rem;
  }
}
@media (min-width: 991px) {
  #home #intro {
    flex-direction: row;
    flex-wrap: nowrap;
  }
}
@media (min-width: 1200px) {
  #home #intro .left {
    padding: 0 100px;
  }
}
#page {
  margin: 0 auto;
  background: #1e1f1e;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#page.show #pageLogo {
  opacity: 1;
  transform: translate(0, 0);
  transition: all 1s ease-in-out;
  transition-delay: 0.4s;
}
#page.show .pageContainer {
  opacity: 1;
  transform: translate(0, 0);
  transition: all 1s ease-in-out;
}
#page .pageContainer {
  opacity: 0;
  transform: translate(0, 20px);
  transition: all 1s ease-in-out;
}
#page #pageLogo {
  padding: 10px 0;
  margin-left: 10px;
  align-self: flex-start;
  opacity: 0;
  transition: all 1s ease-in-out;
}
#page #pageLogo #logo {
  width: 80px;
}
#page .banner {
  background: #111;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#page .banner .image,
#page .banner .copy {
  flex: 1 1 50%;
}
#page .banner .image {
  overflow: hidden;
  min-height: 50vh;
  background-size: cover;
  background-position: center;
  border-radius: 0;
}
#page .banner .copy {
  padding: 40px;
  box-sizing: border-box;
  background: #111;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  border-radius: 0;
}
#page .banner .copy .bg {
  position: absolute;
  top: 50%;
  left: 0;
  font-size: 20rem;
  line-height: 17rem;
  transform: translate(-30px, -50%);
  color: black;
  z-index: 1;
}
#page .banner .copy .bg span {
  position: relative;
  left: 10px;
}
#page .banner .copy h1,
#page .banner .copy .desc {
  position: relative;
  z-index: 2;
}
#page .banner .copy h1 {
  align-self: flex-start;
  margin-top: 0;
}
#page .banner .copy p {
  color: #b3b3b3;
  padding: 0;
}
#page .banner.full {
  display: block;
  padding: 0;
}
#page .banner.full .image {
  border-radius: 0;
}
#page .banner.full .image .logos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#page .banner.full .image .logos img {
  width: 50%;
  height: auto;
}
#page .banner.full .copy {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#page .banner.full .copy h1 {
  font-size: 3rem;
  margin: 0 0 20px;
}
#page .banner.full .copy .btn {
  flex: auto;
  margin: 0;
}
#page .banner.full .copy p {
  margin: 0 0 40px;
}
#page .full {
  position: relative;
  background: #1e1f1e;
  box-sizing: border-box;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
}
#page .full.top:after {
  top: -50px;
}
#page .full.bottom:after {
  bottom: -50px;
}
#page .full p {
  max-width: 800px;
  margin: 0 0 40px;
  font-size: 1.4rem;
  text-align: left;
  font-weight: 300;
  color: #b3b3b3;
}
#page .full p:last-child {
  margin: 0;
}
#page .full button {
  margin-top: 40px;
}
#page .blocks {
  background: #eaebea;
  color: #111111;
  position: relative;
  z-index: 10;
}
#page .blocks div {
  box-sizing: border-box;
  padding: 40px;
}
#page .blocks div h3 {
  font-size: 2.4rem;
}
#page .blocks div p {
  margin-bottom: 0;
  color: #666;
}
#page .cta {
  width: 100%;
  min-height: 100vh;
  position: relative;
  text-align: center;
  box-sizing: border-box;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #111;
}
#page .cta:after {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background: rgba(17, 17, 17, 0.6);
}
#page .cta .copy {
  position: relative;
  z-index: 3;
}
#page .cta .copy #logo {
  position: relative;
  top: 0;
  left: 0;
  width: 200px;
}
#page .cta .copy p {
  padding: 40px 0;
  font-weight: bold;
}

@media (min-width: 768px) {
  #page #pageLogo {
    margin-left: 60px;
  }
  #page .banner {
    flex-direction: row;
    min-height: 100vh;
  }
  #page .banner .copy {
    padding: 100px;
    border-radius: 0 0 20px 20px;
  }
  #page .banner .copy h1 {
    font-size: 3rem;
    line-height: 3.6rem;
    line-break: break-word;
  }
  #page .banner .copy p {
    font-size: 1.2rem;
  }
  #page .banner .copy .btn {
    margin-top: 40px;
  }
  #page .banner.full {
    padding: 0 40px;
  }
  #page .banner.full .copy h1 {
    flex: 0 0 50%;
    font-size: 5rem;
    line-height: normal;
    letter-spacing: 6px;
    position: relative;
    font-weight: lighter;
    z-index: 2;
  }
  #page .banner.full .copy h1 span {
    position: relative;
    left: 3px;
  }
  #page .banner.full .copy .desc {
    position: relative;
    z-index: 2;
  }
  #page .banner.full .image {
    border-radius: 20px 20px 0 0;
  }
  #page .banner.full .image .logos img {
    width: 25%;
  }
  #page .full {
    padding: 100px;
  }
  #page .full p {
    font-size: 1.6rem;
  }
  #page .full btn {
    margin-top: 40px;
  }
  #page .blocks {
    padding: 60px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  #page .blocks div {
    flex: 1 1 50%;
    padding: 40px 100px;
  }
  #page .blocks div h3 {
    font-size: 1.6rem;
  }
  #page .cta {
    padding: 100px;
  }
  #page .cta p {
    max-width: 800px;
    font-size: 2rem;
    margin: 40px 0 60px;
  }
}
@media (min-width: 991px) {
  #page .banner.full .copy {
    flex-direction: row;
  }
  #page .banner.full .copy h1 {
    margin: 0;
  }
  #page .banner.full .copy .desc {
    padding-left: 40px;
  }
  #page .full {
    flex-direction: row-reverse;
  }
  #page .full p {
    padding-left: 100px;
  }
  #page .full .btn {
    flex: 0 0 300px;
    margin-top: 0;
  }
}
#websites {
  box-sizing: border-box;
  background: #1e1f1e;
  max-height: 0;
  height: auto;
  overflow: hidden;
}
#websites.show {
  padding: 10px;
  max-height: 9999px;
  transition: all 0.8s ease-in-out;
}
#websites .wrap {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  position: relative;
  z-index: 3;
  border-radius: 20px;
  overflow: hidden;
}
#websites .wrap a {
  flex: 0 0 100%;
  display: block;
  overflow: hidden;
  position: relative;
}
#websites .wrap a img {
  width: 100%;
  margin: 0 0 -5px;
  opacity: 0.8;
  transform: scale(1);
  transition: all 0.2s ease-in-out;
}
#websites .wrap a .overlay {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  color: white;
  padding: 20px;
  box-sizing: border-box;
  background: none;
  border: 5px solid white;
  box-sizing: border-box;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transform: translate(0, 200px) scale(0.9);
  opacity: 0;
  transition: all 0.2s ease-in-out;
}
#websites .wrap a .overlay h3 {
  font-size: 1.4rem;
  margin: 0;
}
#websites .wrap a .overlay p {
  font-size: 1rem;
  margin: 0;
}
#websites .wrap a:hover {
  cursor: pointer;
}
#websites .wrap a:hover .overlay {
  transform: scale(1);
  opacity: 1;
  transition: all 0.2s ease-in-out;
}
#websites .wrap a:hover img {
  opacity: 0.5;
  transform: scale(1.5);
  transition: all 0.2s ease-in-out;
  filter: blur(5px);
}

@media (min-width: 768px) {
  #websites.show {
    padding: 40px;
  }
  #websites .wrap a {
    flex: 0 0 50%;
  }
  #websites .wrap a .overlay {
    padding: 20px;
  }
  #websites .wrap a .overlay p.desc {
    font-size: 1.2rem;
  }
}
@media (min-width: 991px) {
  #websites .wrap {
    max-width: 1400px;
  }
  #websites .wrap a {
    flex: 0 0 33.333333%;
  }
  #websites .wrap a .overlay {
    padding: 10px;
  }
  #websites .wrap a .overlay h3 {
    font-size: 1.2rem;
  }
  #websites .wrap a .overlay p {
    font-size: 0.8rem;
  }
  #websites .wrap a .overlay p.desc {
    font-size: 1rem;
  }
}
@media (min-width: 1200px) {
  #websites .wrap a .overlay {
    padding: 30px;
  }
  #websites .wrap a .overlay h3 {
    font-size: 1.6rem;
  }
  #websites .wrap a .overlay p {
    font-size: 1rem;
  }
  #websites .wrap a .overlay p.desc {
    font-size: 1.2rem;
  }
}
.modal {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  z-index: 9999;
  margin: 0 auto;
  padding: 10px;
  font-size: 1.2rem;
  line-height: 1.4rem;
  background: #1e1f1e;
  box-sizing: border-box;
  color: #cccccc;
  display: none;
  font-family: "menlo", "courier", serif;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.modal::-webkit-scrollbar {
  display: none;
}
.modal.show {
  pointer-events: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}
.modal .modalCopy {
  height: 100dvh;
  width: 100%;
  overflow-y: scroll;
  box-sizing: border-box;
  padding-bottom: 60px;
}
.modal img {
  width: 100%;
  max-width: 400px;
  height: auto;
  margin: 0 0 20px;
}
.modal .close {
  color: #cccccc;
  background: none;
  border: none;
  box-shadow: 0 0 0;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 10px;
  background: #1e1f1e;
  border-top: 1px solid #cccccc;
  width: 100%;
  text-align: left;
  letter-spacing: 0.5px;
}
.modal .close .block {
  display: inline-block;
  background: #cccccc;
  color: #1e1f1e;
  padding: 5px;
  border-radius: 5px;
  font-size: 0.6rem;
}
.modal .prompt {
  font-size: 1rem;
}
.modal .userInput {
  color: white;
}
.modal .userInput input,
.modal .userInput textarea {
  background: none;
  border: none;
  font-family: "menlo", "courier", serif;
  font-size: 1.2rem;
  line-height: 1.4rem;
  caret-color: transparent;
  color: green;
  margin-bottom: 10px;
  height: 20px;
  margin: 0;
  padding: 0;
  width: 0;
  display: inline-block;
}
.modal .userInput input:focus,
.modal .userInput textarea:focus {
  outline: none;
}
.modal .userInput.focus:after {
  content: "";
  display: inline-block;
  width: 10px;
  height: 18px;
  background: white;
  animation: blink 0.9s infinite;
  animation-timing-function: ease;
}
.modal .userInput.focus.error:after {
  content: "";
  display: inline-block;
  width: 10px;
  height: 18px;
  background: red;
}

/*# sourceMappingURL=style.css.map */
