@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Poppins:wght@100;300;400&display=swap');

$dark: #1e1f1e;

@keyframes bounce {
  from {
    transform: translateY(10px);
  }
  to {
    transform: translateY(5px);
  }
}

@keyframes blink {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

body, html {
  margin: 0;
  padding: 0;
  font-family: 'Didact Gothic', sans-serif;
  background: $dark;
  scroll-behavior: smooth;
}
.hideMobile {
  display: block !important;
}
.showMobile {
  display: none !important;
}
.btn {
  background: darken(white, 5%);
  text-align: center;
  padding: 0 20px;
  width: 100%;
  line-height: 60px;
  margin: 0 auto;
  color: black;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 10px;
  border: none;
  transition: all 0.3s ease-in-out;
  white-space: nowrap;
  &:hover {
    cursor: pointer;
    background: white;
    color: black;
    letter-spacing: 2.5px;
    transition: all 0.3s ease-in-out;
  }
}
p {
  font-size: 1.6rem;
}
h3,
.keyTitle {
  margin: 0;
  font-size: 2rem;
  span {
    display: inline-block;
    width: 80px;
    height: 80px;
    border: 3px solid black;
    border-radius: 5px;
    box-sizing: border-box;
    display: inline-flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 0 10px 5px 0;
    margin-right: 5px;
    background: white;
  }
  &.dark {
    span {
      background: $dark;
      border-color: white;
      color: white;
    }
  }
}
#logo {
  position: relative;
  z-index: 99;
  width: 150px;
  fill: white;
  box-sizing: border-box;
  #fill {
    fill: $dark;
  }
}
#video {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}
.container {
  position: relative;
  transform: scale(1);
  transition: all 0.5s ease-in-out;
  &.out {
    transform: scale(0.98);
    transition: all 0.5s ease-in-out;
  }
}

@media (min-width: 768px) {
  .scroll {
    bottom: 80px;
  }
  .btn {
    width: 300px;
  }
  #home {
    #intro {
      blockquote {
        font-size: 1.6rem;
      }
    }
  }
}