@media (max-width:1024px) {
	
}
@media (max-width:768px) {
	.hideMobile {
	  display: none !important;
	}
	.showMobile {
	  display: block !important;
	}
	#home {
		h3 {
			text-align: center;
		}
		#intro {
			padding: 20px 0;
		}
		#websites {
			padding: 0;
			a {
				flex: 0 0 100%;
			}
		}
		#logos {
			padding: 20px 0 0;
			article {
				flex: 0 0 50%;
			}
		}
		#artwork {
			padding: 20px 0 0;
			article {
				flex: 0 0 50%;
			}
		}
	}
	footer {
		box-sizing: border-box;
		padding: 100px 0;
	}
}
@media (max-width:480px) {
	footer {
		padding: 0;
		section {
			width: 100%;
			box-sizing: border-box;
			padding: 0 25px;
			.price {
				span {
					font-size: 14px;
				}
			}
			article {
				p {
					padding: 0 25px;
					&.price {
						span {
							font-size: 14px;
						}
					}
				}
			}
			.main-btn {
				margin-top: 50px;
			}
		}
	}
}