body, html {
  margin: 0;
  padding: 0;
  font-family: 'Didact Gothic', sans-serif;
}
.main-btn {
  background: white;
  line-height: 60px;
  font-size: 32px;
  text-decoration: none;
  width: 300px;
  margin: 0 auto;
  display: block;
  text-align: center;
  color: #4A4A4A;
  text-transform: uppercase;
  font-family: 'cocogoose', sans-serif;
}
header {

}
#home {
  section {
    &:first-child {
      min-height: 75vh;
      background: url('../img/banner.jpg') no-repeat scroll bottom center / cover;
    }
    &:last-child {
      background: white;
      position: relative;
      z-index: 999;
      article {
        &:first-child {
          @include transform(translate(0,-90px));
          margin-bottom: -90px;
          overflow: hidden;
          #Logo {
            display: block;
            margin: 0 auto;
            background: url('../img/logo.png') no-repeat scroll center / contain;
            width: 273px;
            height: 186px;
          }
          blockquote {
            width: 800px;
            margin: 25px auto 0;
            font-size: 36px;
            line-height: 50px;
            color: #9B9B9B;
            position: relative;
            &:before {
              content: "";
              width: 48px;
              height: 39px;
              position: absolute;
              top: -39px;
              left: -60px;
              background: url('../img/quote.png') no-repeat scroll center / contain;
            }
            cite {
              margin: 0 0 0 600px;
              display: block;
              width: 200px;
              height: 59px;
              background: url('../img/signature.jpg') no-repeat scroll center / contain;
            }
          }
        }
        &:last-child {
          box-sizing: border-box;
          padding: 50px;
          margin: 0;
          a {
            box-sizing: border-box;
            width: 50%;
            min-height: 46vh;
            display: inline-block;
            position: relative;
            &:before {
              content: "";
              display: block;
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              width: 100%;
              z-index: 1;
              opacity: 0.8;
              @include transition(all 0.3s $authenticMotion);
            }
            &:after {
              content: "";
              display: block;
              position: absolute;
              z-index: 2;
              top: 50%;
              left: 50%;
              width: 100%;
              @include transform(translate(-50%,-50%));
            }
            &:first-child {
              background: url('../img/realeyez_bg.jpg') no-repeat scroll center / cover;
              &:before {
                background: linear-gradient(-45deg, black, darken(white, 25%));
              }
              &:after {
                height: 104px;
                background: url('../img/realeyez_logo.svg') no-repeat scroll center / contain;
              }
            }
            &:nth-child(2) {
              background: url('../img/heard_bg.jpg') no-repeat scroll center / cover;
              &:before {
                background: linear-gradient(-45deg, #FF807A, #FFB25E);
              }
              &:after {
                height: 108px;
                background: url('../img/heard_logo.svg') no-repeat scroll center / contain;
              }
            }
            &:nth-child(3) {
              background: url('../img/giv_bg.jpg') no-repeat scroll center / cover;
              @include transform(translate(0,-5px));
              &:before {
                background: linear-gradient(45deg, #00DCA0, #85D9F8, #28A3F1);
              }
              &:after {
                height: 139px;
                background: url('../img/giv_logo.svg') no-repeat scroll center / contain;
              }
            }
            &:last-child {
              background: url('../img/ttp_bg.jpg') no-repeat scroll center / cover;
              @include transform(translate(0,-5px));
              &:before {
                background: linear-gradient(-45deg, #7B9872, #A0C4A1, #80BD96);
              }
              &:after {
                height: 186px;
                background: url('../img/ttp_logo.svg') no-repeat scroll center / contain;
              }
            }
            &:hover {
              &:before {
                opacity: 0.9;
                @include transition(all 0.3s $authenticMotion);
              }
            }
          }
        }
      }
    }
  }
}
footer {
  min-height: 100vh;
  background: #4A4A4A;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  &:before {
    content: "";
    background: black;
    filter: blur(5px);
    border-radius: 50%;
    height: 30px;
    width: 100%;
    position: absolute;
    top: -20px;
    left: 0;
    opacity: 0.5;
  }
  section {
    width: 400px;
    margin: 0 auto;
    position: relative;
    &:before {
      content:"";
      width: 1px;
      height: 250px;
      position: absolute;
      bottom: 125px;
      left: 50%;
      display: block;
      background: #C6C6C6;
    }
    .price {
      font-family: 'cocogoose', sans-serif;
      font-size: 64px;
      text-align: center;
      color: $green;
      letter-spacing: 1px;
      margin: 0;
      position: relative;
      span {
        font-size: 18px;
        color: #767676;
        font-family: 'Didact Gothic', sans-serif;
        text-transform: lowercase;
        vertical-align: middle;
        &:before {
          content: "/";
          display: inline;
          padding: 0 2px;
        }
        &.sign {
          font-size: 21px;
          color: $green;
          &:before{
            display: none;
          }
        }
      }
      &:before {
        content: "";
        width: 100%;
        height: 1px;
        background: #C6C6C6;
        display: block;
        position: absolute;
        bottom: -40px;
        left: 0;
        z-index: 1;
      }
    }
    .or {
      display: block;
      text-align: center;
      color: white;
      width: 75px;
      height: 75px;
      line-height: 75px;
      margin: 0 auto;
      border-radius: 50%;
      text-transform: uppercase;
      border: 1px solid #C6C6C6;
      position: relative;
      z-index: 2;
      background: #4A4A4A;
    }
    article {
      flex-direction: row;
      margin-bottom: 15px;
      p {
        display: inline-block;
        width: 50%;
        box-sizing: border-box;
        padding: 0 50px;
        font-size: 28px;
        margin: 0;
        vertical-align: top;
        &.hours {
          text-align: right;
          color: white;
          font-family: 'cocogoose', sans-serif;
          span {
            font-size: 24px;
            color: #9B9B9B;
            margin-left: 5px;
            text-transform: uppercase;
            letter-spacing: 1px;
          }
        }
        &.price {
          font-family: 'cocogoose', sans-serif;
          font-size: 28px;
          vertical-align: middle;
          text-align: left;
          letter-spacing: 1px;
          span {
            font-size: 18px;
            color: #767676;
            font-family: 'Didact Gothic', sans-serif;
            vertical-align: middle;
            margin-left: 5px;
          }
          &:before {
            display: none;
          }
        }
      }
    }
    .main-btn {
      margin-top: 100px;
      font-size: 24px;
      letter-spacing: 2px;
    }
  }
}

@media (max-width:1024px) {
  
}
@media (max-width:768px) {
  #home {
    section{
      &:first-child {
        min-height: 50vh;
      }
      &:last-child {
        article{
          &:first-child {
            blockquote {
              width: 100%;
              box-sizing: border-box;
              padding: 0 25px;
              font-size: 28px;
              line-height: 38px;
              text-align: center;
              margin: 0 auto;
              &:before {
                display: none;
              }
              cite {
                margin: 25px auto 0;
                float: none;
                width: 150px;
              }
            }
          }
          a {
            &:after {
              background-size: 50% !important;
            }
          }
          &:last-child {
            margin-bottom: 0;
            a {
              width: 100%;
              display: block;
              &:nth-child(3),
              &:nth-child(4) {
                @include transform(translate(0,0));
              }
            }
          }
        }
      }
    }
  }
  footer {
    padding: 100px 0;
    min-height: auto;
    section {
      &:before {
        height: 200px;
        bottom: 100px;
      }
    }
  }
}
@media (max-width:480px) {
  #home {
    blockquote {
      padding: 0 25px 0 50px;
      font-size: 24px;
      line-height: 36px;
      &:before {
        left: 15px;
        top: -50px;
      }
      cite {
        margin: 15px 0 0 0;
        float: right;
      }
      &:after {
        content: "";
        clear: both;
        display: block;
      }
    }
    section{
      &:last-child {
        article{
          &:first-child {
            #Logo {
              width: 200px;
            }
          }
          &:last-child {
            padding: 0;
            margin: 50px 0 -10px 0;
          }
        }
      }
    }
  }
  footer {
    section {
      width: 100%;
      box-sizing: border-box;
      padding: 0 25px;
      .price {
        span {
          font-size: 14px;
        }
      }
      article {
        p {
          padding: 0 25px;
          &.price {
            span {
              font-size: 14px;
            }
          }
        }
      }
      .main-btn {
        margin-top: 75px;
      }
    }
  }
}